
<div>Member Campaigns</div>
{{#member_campaigns}}
    <div>name: {{name}}</div>
    <div>purpose: {{purpose}}</div>
{{/member_campaigns}}

<div>Local Campaigns</div>
{{#local_campaigns}}
    <div>name: {{name}}</div>
    <div>purpose: {{purpose}}</div>
{{/local_campaigns}}
