 <div class="wrapper">
           <section id="screens">
            <div class="container">

                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Be Heard</h1>
                    <div class="divider"></div>
                    <p>Get in contact with your local, county, or state governments to the convertation</p>
                </div>
            </div>
        </section>
    
            <div class="container">
                <h2>Your Governments</h2>
                <p>Use the information below to reach out to your representatives:</p>            
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Department</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>local@example.com</td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>county@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>state@example.com</td>
                        </tr>
                        </tbody>
                    </table>
            </div>
                
            
        